#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}

body{
  background-color: #25CCF7;
}

.card-body{
  background-color: #FDA7DF;
}
.card-header{
  background-color: #9980FA;
}

#city-input{
  background-color:#25CCF7;
}
